node_modules
.next
out
build
.DS_Store
*.pem
.env
.env*.local
.vercel
.netlify
next-env.d.ts
*.tsbuildinfo

# clerk configuration (can include secrets)
/.clerk/

# rolling backups written by the dev-only deck editor
app/vast/script/script.json.bak
app/vast/deck.json.bak
app/vast/deck.json.*.bak
